// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form {
  display: flex;
  flex-direction: column;
}
.session-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;

  text-align: center;
  margin-right: 100px;
}

.session-container a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: #03a6a6;
  line-height: 25px;
}

#line {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#line:before,
#line:after {
  content: "";
  border-top: 0.25px solid #333333;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
#line:after {
  margin: 0 0 0 20px;
}

.form-page .nav-bar {
  text-decoration: none;
}
